.todoListMain {
  > header {
    background-color: cornflowerblue;
    height: 3.125rem; //50px - 16px = 3.125rem

    > form {
      height: 100%;
    }
  }


  input {
    height: 100%;
    background-color: rgba(255, 255, 255, .5)
  }

  button {
    height: 100%;
  }
}